
body{
    margin: 20px;
    padding: 20px;
}

button{
    position: static;
    width: 40%;
    height: 50px;
    font-size: 20px;
}

#menuGame{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 2%;
    text-align: center;
}

.table {
    position: fixed;
    padding: 10px;
    margin: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 600px;
    height: 600px;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.box{
    border: 1px solid;
}

.mark-x{
    background-image: url(img/cruz.png);
    background-size: 100% 100%;
}

.mark-o{
    background-image: url(img/circulo.png);
    background-size: 100% 100%;
}

*{
    font-size:25px;
    overflow: hidden;
 }

